body{
    background-image: url("C:\Users\khadi\Desktop\PFA\recommender-engine\src\components\back.jpg"); 
   

 /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6 */
            -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
        backdrop-filter: blur(15px);
    
    /* background: linear-gradient(to right, #2c3e50, #bdc3c7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: #ffff;
    border-radius: 10px;
    width: 70%;
    margin: 20px auto;
    padding: 4%;
    /* padding-bottom: 4%; */
    /* height: 600px; */
}
.title{
    background-color: #ffff;
    background-color: #ffff;
    border-radius: 10px;
    width: 70%;
    margin: 20px auto;
   
    padding: 2px;
    /* padding-bottom: 4%; */
    /* height: 600px; */
}
.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 26%;
}

.form_input{
    width: 6%;
    padding-right: 90px;
}

.footer{
    text-align: center;
}
.r{
    padding-right: 90px;
}
.l{
    padding-right: 70px;
}